body {
	background: white;
	color: black;
	padding: 1em;
}

img#culture{
	width:25%;
	height:25%
}

img {
	width:10%;
	height:10%
}

h1{
	font-style: italic
}

textarea {
	font-family: 'Hannotate SC', 'Hanzipen SC','Comic Sans', 'Comic Sans MS';
	outline: none;
	font-size: 18pt;
	border: none;
	width: 100%;
	height: 100%;
	background: none;
}

#close {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 10px;
	text-align: center;
	font-family: 'Helvetica Neue', 'Arial';
	font-weight: 400;
}